<ng-include src="'/portafolio/templates/sidebar.html'" include-replace ></ng-include>
<div class="col-sm-8 main hire">
  <ul class="navigation navigation-top sh-b">
    <li><a href="index.html">Contact</a></li>
    <li class="active"><a href="">Hire me!</a></li>
  </ul>
  <div>
    <h1>Hire me!</h1>
    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
  </div>
  <div>
    <h2>Provide your data and describe your project requirements</h2>
    <form>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name">Your name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email">Your email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="time">Time limits</label>
            <input type="date" class="form-control" name="time" id="time" placeholder="">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="budget">Your budget</label>
            <input type="number" class="form-control" name="budget" id="budget" placeholder="">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="4" class="form-control" name="description" id="description" placeholder=""></textarea>
          </div>
        </div>
      </div>
      <div class="form-group d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </form>
  </div>
</div>